.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    background-color: #020024;
    width: 400px;
}

.container-form h2{
    color: white;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.form button{
    font-family: Poppins;
    font-weight: 700;
    width: 400px;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;

}

.form button:hover{
    background-color: black;
    color:white;
    transition: 0.4s;
}

.form button:active{
    background-color: #232b2b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media only screen and (max-width: 500px) {
    .container-form{
      width: 300px;
    }
  }